In [14]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [17]:
Cutlets=pd.read_csv("Cutlets.csv")
Cutlets.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

In [18]:
Cutlets.dtypes

Unit A    float64
Unit B    float64
dtype: object

In [19]:
unitA=pd.Series(Cutlets.iloc[:,0])

In [20]:
unitB=pd.Series(Cutlets.iloc[:,1])

In [21]:
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [22]:
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

## 2 sample 2 tail Test

In [27]:
t_score,p_value = ttest_ind(unitA,unitB)
p_value

0.4722394724599501

In [28]:
if p_value<=0.05:
    print("We reject the null hypothesis saying that there is a signifcant differencen between the diameter of the cutlets of two units .")
else:
    print("We do not reject the null hypothesis saying that there is no signifcant differencen between the diameter of the cutlets of two units.")

We do not reject the null hypothesis saying that there is no signifcant differencen between the diameter of the cutlets of two units.