## 1.Import necessary libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.metrics import r2_score,accuracy_score
from sklearn.ensemble import RandomForestClassifier

## 2.Import Dataset

In [3]:
Fraud_check = pd.read_csv('Fraud_check.csv')
Fraud_check

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

## 3.Data understanding

In [4]:
Fraud_check.shape

(600, 6)

In [5]:
Fraud_check.describe(include='all')

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
count,600,600,600.000000,600.000000,600.000000,600
unique,2,3,NaN,NaN,NaN,2
top,YES,Single,NaN,NaN,NaN,YES
freq,312,217,NaN,NaN,NaN,302
mean,NaN,NaN,55208.375000,108747.368333,15.558333,NaN
std,NaN,NaN,26204.827597,49850.075134,8.842147,NaN
min,NaN,NaN,10003.000000,25779.000000,0.000000,NaN
25%,NaN,NaN,32871.500000,66966.750000,8.000000,NaN
50%,NaN,NaN,55074.500000,106493.500000,15.000000,NaN
75%,NaN,NaN,78611.750000,150114.250000,24.000000,NaN
max,NaN,NaN,99619.000000,199778.000000,30.000000,NaN

In [6]:
Fraud_check.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [7]:
Fraud_check.dtypes

Undergrad          object
Marital.Status     object
Taxable.Income      int64
City.Population     int64
Work.Experience     int64
Urban              object
dtype: object

## 4.Data Preparation

In [8]:
Fraud_check["income"]="<=30000"
Fraud_check.loc[Fraud_check["Taxable.Income"]>=30000,"income"]="Good"
Fraud_check.loc[Fraud_check["Taxable.Income"]<=30000,"income"]="Risky"

In [9]:
Fraud_check

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,income
0,NO,Single,68833,50047,10,YES,Good
1,YES,Divorced,33700,134075,18,YES,Good
2,NO,Married,36925,160205,30,YES,Good
3,YES,Single,50190,193264,15,YES,Good
4,NO,Married,81002,27533,28,NO,Good
...,...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES,Good
596,YES,Divorced,69967,55369,2,YES,Good
597,NO,Divorced,47334,154058,0,YES,Good
598,YES,Married,98592,180083,17,NO,Good
599,NO,Divorced,96519,158137,16,NO,Good

In [10]:
pd.set_option("max_rows",None)

In [11]:
Fraud_check.shape

(600, 7)

In [13]:
del Fraud_check['Taxable.Income']

In [14]:
Fraud_check.rename(columns={"Undergrad":"undergrad","Marital.Status":"marital","City.Population":"population","Work.Experience":"experience","Urban":"urban"},inplace=True)

In [15]:
Fraud_check

    undergrad   marital  population  experience urban income
0          NO    Single       50047          10   YES   Good
1         YES  Divorced      134075          18   YES   Good
2          NO   Married      160205          30   YES   Good
3         YES    Single      193264          15   YES   Good
4          NO   Married       27533          28    NO   Good
5          NO  Divorced      116382           0    NO   Good
6          NO  Divorced       80890           8   YES   Good
7         YES    Single      131253           3   YES   Good
8          NO    Single      102481          12   YES   Good
9         YES  Divorced      155482           4   YES   Good
10         NO    Single      102602          19   YES  Risky
11         NO    Single       94875           6   YES   Good
12         NO  Divorced      148033          14   YES  Risky
13         NO   Married       86649          16   YES   Good
14         NO   Married       57529          13   YES   Good
15         NO  Divorced      107764          29    NO   Good
16        YES  Divorced       34551          29    NO  Risky
17        YES   Married       57194          25    NO   Good
18        YES  Divorced       59269           6    NO   Good
19         NO    Single      126953          30   YES  Risky
20        YES    Single      147222          26    NO   Good
21        YES  Divorced       29106           7   YES  Risky
22        YES  Divorced      155342          14    NO   Good
23         NO    Single       50495          12   YES   Good
24         NO  Divorced       28495          30    NO   Good
25         NO  Divorced      124606          27   YES   Good
26        YES  Divorced      169128          15    NO   Good
27        YES    Single       28542          12   YES   Good
28        YES    Single      128766           5   YES  Risky
29        YES  Divorced       41863          30   YES   Good
30        YES  Divorced      117788           0   YES   Good
31         NO  Divorced      147414          21    NO   Good
32        YES   Married       51911          23    NO   Good
33        YES    Single      157251          21    NO   Good
34        YES  Divorced      183767           1   YES  Risky
35        YES   Married       41117          30   YES   Good
36        YES   Married      193995           5   YES  Risky
37         NO   Married       66912           5   YES   Good
38         NO    Single      177575           3    NO  Risky
39         NO   Married       54981          16   YES   Good
40         NO    Single      199697          26   YES   Good
41        YES   Married       91524           1    NO   Good
42         NO    Single       51666          12    NO   Good
43        YES  Divorced       50020          10    NO   Good
44        YES  Divorced       98880          22    NO   Good
45        YES   Married      183095          14   YES   Good
46        YES   Married      137346          27   YES   Good
47        YES    Single       34964           2    NO   Good
48         NO   Married       35480          12    NO  Risky
49         NO  Divorced      160195          15   YES   Good
50        YES    Single      145804           3   YES   Good
51        YES    Single      174042          30    NO   Good
52         NO    Single       91828          23    NO   Good
53        YES    Single      139143           7   YES  Risky
54         NO  Divorced       98207          23    NO   Good
55        YES    Single       89965          16   YES  Risky
56         NO   Married       69832          25   YES   Good
57         NO    Single       70744          13    NO   Good
58        YES    Single      158047          15    NO  Risky
59         NO    Single      102228          11    NO   Good
60        YES   Married       91138          23    NO   Good
61        YES   Married       86169           8    NO  Risky
62         NO  Divorced      147684          13   YES   Good
63        YES  Divorced       95831           9    NO   Good
64        YES    Single      118261          15    NO   Good
65         NO  Divorced      194738          29    NO   Good
66        YES   Married       66985          12   YES   Good
67        YES   Married      173986          24    NO   Good
68         NO    Single      139642           5    NO  Risky
69        YES    Single       86896          29    NO   Good
70        YES  Divorced       80904           3   YES   Good
71         NO    Single      105680          22    NO   Good
72        YES  Divorced      108300          27   YES   Good
73        YES    Single      174789           2   YES   Good
74         NO  Divorced      182319          17    NO   Good
75         NO   Married       50404          19   YES   Good
76        YES   Married      129164          11    NO   Good
77        YES   Married      118344          26    NO   Good
78        YES  Divorced      143153           0    NO   Good
79         NO  Divorced      140885           7   YES  Risky
80         NO   Married       28184          26    NO   Good
81        YES  Divorced      121608          24    NO   Good
82         NO  Divorced      111068          26   YES   Good
83         NO  Divorced       73963          18   YES   Good
84         NO   Married      178083           4   YES   Good
85        YES  Divorced      125155          12   YES  Risky
86        YES  Divorced       97520          29   YES   Good
87        YES    Single       64075          23    NO  Risky
88         NO   Married       63896          24   YES   Good
89        YES   Married      176050          20    NO  Risky
90         NO  Divorced      101232          29    NO   Good
91        YES   Married       73733          10   YES   Good
92         NO  Divorced      114621          13    NO   Good
93        YES   Married      137676           3   YES  Risky
94         NO    Single      122705           6   YES  Risky
95        YES    Single      121498          28   YES   Good
96         NO    Single       63622          17    NO  Risky
97        YES  Divorced       37849          19   YES   Good
98        YES   Married       77053          18   YES  Risky
99         NO   Married      114350          12    NO   Good
100       YES    Single       46444          25    NO   Good
101       YES   Married       50490          20   YES   Good
102       YES  Divorced       91488          23    NO   Good
103        NO  Divorced       76318           5   YES   Good
104        NO    Single      174423          14    NO   Good
105        NO    Single       46893          15    NO   Good
106       YES    Single       58535          20   YES  Risky
107        NO   Married       52424           6   YES   Good
108       YES   Married      120894          10   YES   Good
109       YES   Married      178585           8   YES   Good
110        NO    Single       32450          19   YES  Risky
111        NO    Single      164526          11   YES   Good
112       YES    Single      193038          26   YES   Good
113       YES   Married      100347           7   YES   Good
114        NO    Single      197934           7    NO  Risky
115       YES  Divorced       78251          21   YES   Good
116        NO   Married      132570          12    NO   Good
117        NO    Single       96370          29   YES   Good
118        NO  Divorced      199174          10    NO  Risky
119        NO  Divorced       47202          30   YES   Good
120       YES    Single      135886          11   YES   Good
121       YES   Married       86648          16   YES  Risky
122       YES   Married      140762          26    NO  Risky
123       YES   Married       79683          26    NO  Risky
124       YES  Divorced      139324          13    NO   Good
125       YES  Divorced      155669          11    NO   Good
126       YES  Divorced      195022           3   YES  Risky
127        NO    Single       93035          28   YES   Good
128        NO   Married      100897          27   YES   Good
129       YES    Single       65469          26    NO   Good
130       YES    Single       87730           7   YES   Good
131       YES    Single      174321          16   YES   Good
132        NO  Divorced       67820          12    NO   Good
133        NO    Single       86646          14   YES   Good
134       YES   Married      190365          28    NO   Good
135       YES  Divorced       75323          19   YES  Risky
136        NO  Divorced       53513           9    NO   Good
137       YES    Single      115884           6    NO  Risky
138        NO    Single      155335          25    NO   Good
139       YES  Divorced       86904          20    NO   Good
140       YES   Married       93390           4   YES  Risky
141       YES   Married      194364          23   YES   Good
142        NO    Single      122654          26   YES   Good
143       YES    Single      154013          11    NO  Risky
144       YES    Single      156503          29   YES   Good
145        NO  Divorced      197422           2   YES   Good
146        NO  Divorced       57931          28   YES   Good
147       YES  Divorced      163252          28    NO   Good
148        NO   Married      197038          21    NO   Good
149        NO    Single       49505          25    NO   Good
150        NO   Married      161759          28    NO   Good
151        NO    Single      109110          10    NO   Good
152        NO    Single       91889          16    NO  Risky
153       YES  Divorced      114841          28    NO  Risky
154        NO    Single       82520          29   YES  Risky
155       YES    Single      139624           7    NO   Good
156       YES   Married      125987           3   YES   Good
157       YES   Married      115631           5    NO   Good
158        NO  Divorced      163347          11    NO  Risky
159       YES    Single       28504           1    NO   Good
160       YES  Divorced       79972           0   YES   Good
161       YES   Married      185596          30   YES   Good
162       YES   Married      177468          21   YES   Good
163       YES  Divorced       91851          15   YES  Risky
164       YES    Single      153192          28    NO   Good
165       YES   Married       38463          23   YES   Good
166        NO   Married       73466          22   YES   Good
167        NO   Married      194381          25    NO   Good
168        NO  Divorced      167629          30    NO  Risky
169       YES    Single       76933           6   YES   Good
170        NO  Divorced      143402          10    NO   Good
171       YES   Married      103614          24    NO  Risky
172        NO   Married       52819          23   YES  Risky
173       YES    Single      105110          16   YES   Good
174       YES    Single      149857           8    NO   Good
175       YES    Single       57055          13    NO   Good
176        NO   Married       75169          28    NO   Good
177        NO   Married       31156          13   YES   Good
178        NO    Single       85832          15   YES   Good
179       YES   Married      192451          22   YES  Risky
180       YES    Single      149101          19    NO   Good
181        NO  Divorced       36116          20    NO  Risky
182        NO  Divorced       89632           4   YES  Risky
183        NO    Single       39523          30   YES   Good
184        NO  Divorced       70138          15   YES   Good
185        NO   Married       92975           0   YES   Good
186        NO   Married      166976          19   YES   Good
187        NO    Single       59558           5   YES   Good
188        NO  Divorced      137569          10    NO  Risky
189       YES   Married      189301          11   YES   Good
190        NO    Single       90459          19    NO   Good
191        NO    Single      176341           7   YES   Good
192       YES   Married      126556          10   YES   Good
193       YES   Married      198213          25    NO   Good
194       YES    Single      103981          28    NO  Risky
195       YES    Single      181370          13   YES   Good
196       YES   Married       28410          21    NO  Risky
197        NO    Single       98056           4   YES   Good
198        NO    Single       48025          28   YES   Good
199       YES   Married      145744           9   YES  Risky
200       YES    Single      162777          17   YES   Good
201       YES  Divorced       58225          27   YES   Good
202       YES    Single       28661           0   YES   Good
203       YES  Divorced      117260           4    NO   Good
204        NO   Married      173091          14    NO  Risky
205        NO   Married      131906          20   YES  Risky
206       YES    Single       52227          16   YES   Good
207       YES   Married      138108          28    NO  Risky
208       YES    Single      141502           3    NO   Good
209       YES    Single      186239          25   YES   Good
210       YES    Single      125993          13   YES   Good
211       YES   Married       57194           8   YES   Good
212       YES  Divorced      112659          14    NO   Good
213       YES    Single      107069          13    NO   Good
214        NO  Divorced      140159          16    NO   Good
215        NO  Divorced       28576          22    NO   Good
216        NO  Divorced       85128          22    NO   Good
217       YES  Divorced      179220          19   YES   Good
218        NO   Married       38091          19    NO   Good
219       YES  Divorced       26814           9    NO  Risky
220       YES  Divorced      115168          30    NO   Good
221       YES    Single      134135          14    NO   Good
222       YES  Divorced      168248          27    NO   Good
223       YES   Married      192297          17   YES   Good
224        NO   Married       55717          25   YES   Good
225       YES    Single      125883           0   YES   Good
226        NO    Single       77719          28    NO   Good
227       YES    Single      182921          17   YES   Good
228        NO   Married      100696           9   YES  Risky
229        NO   Married       35780          10    NO   Good
230        NO   Married       81593          14   YES  Risky
231       YES    Single      153147           2    NO   Good
232       YES   Married      150349           2    NO  Risky
233        NO   Married       63701          19   YES  Risky
234        NO    Single      102498          14    NO   Good
235        NO  Divorced       87541           9    NO   Good
236       YES   Married      193193           3    NO   Good
237        NO   Married      128996           3   YES  Risky
238       YES    Single       72968           9   YES   Good
239        NO  Divorced       76145          26    NO   Good
240        NO    Single      139146          30   YES   Good
241       YES    Single       31377          18   YES  Risky
242        NO  Divorced       84368           2   YES   Good
243        NO  Divorced      181549          10   YES   Good
244       YES    Single      154647          27    NO   Good
245        NO    Single      183221          24    NO   Good
246       YES    Single       38139          25    NO   Good
247       YES  Divorced      108245           1    NO  Risky
248        NO    Single      105374          17   YES  Risky
249       YES    Single       35376           0   YES   Good
250        NO   Married      156973          16    NO   Good
251       YES    Single      173228           7    NO   Good
252        NO    Single       40855          28   YES   Good
253       YES    Single       77256          29    NO   Good
254        NO  Divorced      193263          26    NO   Good
255       YES   Married      170030           8    NO   Good
256       YES   Married      168568          14    NO   Good
257       YES   Married       31611          17   YES   Good
258        NO  Divorced       74119          28   YES   Good
259        NO   Married      197841           7    NO  Risky
260       YES    Single       92333          28    NO   Good
261        NO    Single       68788           7   YES   Good
262        NO  Divorced      120415          21    NO   Good
263       YES   Married       69386          21   YES   Good
264        NO    Single      118899           5    NO   Good
265        NO   Married      101996           4   YES  Risky
266       YES   Married      173276          17   YES   Good
267        NO    Single      183946          11    NO  Risky
268        NO    Single       98378           3   YES   Good
269       YES   Married      125450          13   YES   Good
270        NO   Married      130680           5    NO   Good
271        NO    Single      183682          20    NO   Good
272        NO    Single      126488           1   YES   Good
273       YES  Divorced       58942          20    NO   Good
274       YES   Married      112584          25    NO   Good
275       YES   Married       55591           0   YES   Good
276        NO    Single       44251          17   YES   Good
277        NO  Divorced      117364          11    NO   Good
278        NO   Married      114823          11    NO  Risky
279       YES    Single       74136          12   YES   Good
280        NO  Divorced       33184           1    NO  Risky
281        NO    Single      167403           7   YES   Good
282       YES   Married       59590          29    NO   Good
283       YES  Divorced      129276          22    NO   Good
284        NO  Divorced      188383          22   YES  Risky
285        NO    Single       63420          10    NO   Good
286       YES  Divorced      113724           6    NO   Good
287       YES    Single       77102           1   YES   Good
288       YES   Married      174196          21   YES  Risky
289        NO    Single      196816          14    NO   Good
290       YES   Married      193003          30   YES   Good
291       YES    Single       62475          26   YES   Good
292       YES    Single       76406           1   YES  Risky
293        NO  Divorced       43899          21   YES   Good
294       YES    Single       74074           2    NO   Good
295       YES   Married       40089          10    NO   Good
296       YES  Divorced      167600          26    NO   Good
297        NO   Married       36924          15    NO   Good
298        NO    Single      119904          21   YES   Good
299       YES    Single      197916           7    NO   Good
300        NO   Married       74052          30    NO   Good
301       YES   Married       39797          11    NO  Risky
302       YES  Divorced       97109          27    NO   Good
303       YES  Divorced      189061          13   YES   Good
304       YES  Divorced      106757          23   YES   Good
305        NO    Single      161265          29   YES   Good
306       YES  Divorced      185099          12    NO   Good
307        NO  Divorced       31819          25    NO   Good
308       YES   Married      183445          30    NO   Good
309       YES    Single      123761          20   YES   Good
310       YES  Divorced      189435          22   YES   Good
311        NO   Married       50013          19    NO   Good
312       YES    Single       31641          18    NO   Good
313       YES    Single      124848           2    NO   Good
314        NO    Single       85255           4    NO   Good
315       YES  Divorced      176278          19    NO  Risky
316        NO   Married       70323          25    NO   Good
317       YES   Married      116745          23    NO   Good
318        NO  Divorced      121324          14   YES   Good
319       YES  Divorced      153308          24   YES   Good
320       YES    Single       78897          11   YES   Good
321        NO    Single       84215           6   YES   Good
322        NO  Divorced      160932          24   YES   Good
323       YES   Married      165175          13    NO   Good
324       YES    Single      171288          15    NO   Good
325        NO    Single       25779          16   YES   Good

In [16]:
Fraud_check.shape

(600, 6)

## 5.Model building

In [17]:
Fraud_Label = LabelEncoder()
Fraud_check['undergrad'] = Fraud_Label.fit_transform(Fraud_check['undergrad'])
Fraud_check['marital'] = Fraud_Label.fit_transform(Fraud_check['marital'])
Fraud_check['urban'] = Fraud_Label.fit_transform(Fraud_check['urban'])
Fraud_check['income'] = Fraud_Label.fit_transform(Fraud_check['income'])

In [18]:
Fraud_check

     undergrad  marital  population  experience  urban  income
0            0        2       50047          10      1       0
1            1        0      134075          18      1       0
2            0        1      160205          30      1       0
3            1        2      193264          15      1       0
4            0        1       27533          28      0       0
5            0        0      116382           0      0       0
6            0        0       80890           8      1       0
7            1        2      131253           3      1       0
8            0        2      102481          12      1       0
9            1        0      155482           4      1       0
10           0        2      102602          19      1       1
11           0        2       94875           6      1       0
12           0        0      148033          14      1       1
13           0        1       86649          16      1       0
14           0        1       57529          13      1       0
15           0        0      107764          29      0       0
16           1        0       34551          29      0       1
17           1        1       57194          25      0       0
18           1        0       59269           6      0       0
19           0        2      126953          30      1       1
20           1        2      147222          26      0       0
21           1        0       29106           7      1       1
22           1        0      155342          14      0       0
23           0        2       50495          12      1       0
24           0        0       28495          30      0       0
25           0        0      124606          27      1       0
26           1        0      169128          15      0       0
27           1        2       28542          12      1       0
28           1        2      128766           5      1       1
29           1        0       41863          30      1       0
30           1        0      117788           0      1       0
31           0        0      147414          21      0       0
32           1        1       51911          23      0       0
33           1        2      157251          21      0       0
34           1        0      183767           1      1       1
35           1        1       41117          30      1       0
36           1        1      193995           5      1       1
37           0        1       66912           5      1       0
38           0        2      177575           3      0       1
39           0        1       54981          16      1       0
40           0        2      199697          26      1       0
41           1        1       91524           1      0       0
42           0        2       51666          12      0       0
43           1        0       50020          10      0       0
44           1        0       98880          22      0       0
45           1        1      183095          14      1       0
46           1        1      137346          27      1       0
47           1        2       34964           2      0       0
48           0        1       35480          12      0       1
49           0        0      160195          15      1       0
50           1        2      145804           3      1       0
51           1        2      174042          30      0       0
52           0        2       91828          23      0       0
53           1        2      139143           7      1       1
54           0        0       98207          23      0       0
55           1        2       89965          16      1       1
56           0        1       69832          25      1       0
57           0        2       70744          13      0       0
58           1        2      158047          15      0       1
59           0        2      102228          11      0       0
60           1        1       91138          23      0       0
61           1        1       86169           8      0       1
62           0        0      147684          13      1       0
63           1        0       95831           9      0       0
64           1        2      118261          15      0       0
65           0        0      194738          29      0       0
66           1        1       66985          12      1       0
67           1        1      173986          24      0       0
68           0        2      139642           5      0       1
69           1        2       86896          29      0       0
70           1        0       80904           3      1       0
71           0        2      105680          22      0       0
72           1        0      108300          27      1       0
73           1        2      174789           2      1       0
74           0        0      182319          17      0       0
75           0        1       50404          19      1       0
76           1        1      129164          11      0       0
77           1        1      118344          26      0       0
78           1        0      143153           0      0       0
79           0        0      140885           7      1       1
80           0        1       28184          26      0       0
81           1        0      121608          24      0       0
82           0        0      111068          26      1       0
83           0        0       73963          18      1       0
84           0        1      178083           4      1       0
85           1        0      125155          12      1       1
86           1        0       97520          29      1       0
87           1        2       64075          23      0       1
88           0        1       63896          24      1       0
89           1        1      176050          20      0       1
90           0        0      101232          29      0       0
91           1        1       73733          10      1       0
92           0        0      114621          13      0       0
93           1        1      137676           3      1       1
94           0        2      122705           6      1       1
95           1        2      121498          28      1       0
96           0        2       63622          17      0       1
97           1        0       37849          19      1       0
98           1        1       77053          18      1       1
99           0        1      114350          12      0       0
100          1        2       46444          25      0       0
101          1        1       50490          20      1       0
102          1        0       91488          23      0       0
103          0        0       76318           5      1       0
104          0        2      174423          14      0       0
105          0        2       46893          15      0       0
106          1        2       58535          20      1       1
107          0        1       52424           6      1       0
108          1        1      120894          10      1       0
109          1        1      178585           8      1       0
110          0        2       32450          19      1       1
111          0        2      164526          11      1       0
112          1        2      193038          26      1       0
113          1        1      100347           7      1       0
114          0        2      197934           7      0       1
115          1        0       78251          21      1       0
116          0        1      132570          12      0       0
117          0        2       96370          29      1       0
118          0        0      199174          10      0       1
119          0        0       47202          30      1       0
120          1        2      135886          11      1       0
121          1        1       86648          16      1       1
122          1        1      140762          26      0       1
123          1        1       79683          26      0       1
124          1        0      139324          13      0       0
125          1        0      155669          11      0       0
126          1        0      195022           3      1       1
127          0        2       93035          28      1       0
128          0        1      100897          27      1       0
129          1        2       65469          26      0       0
130          1        2       87730           7      1       0
131          1        2      174321          16      1       0
132          0        0       67820          12      0       0
133          0        2       86646          14      1       0
134          1        1      190365          28      0       0
135          1        0       75323          19      1       1
136          0        0       53513           9      0       0
137          1        2      115884           6      0       1
138          0        2      155335          25      0       0
139          1        0       86904          20      0       0
140          1        1       93390           4      1       1
141          1        1      194364          23      1       0
142          0        2      122654          26      1       0
143          1        2      154013          11      0       1
144          1        2      156503          29      1       0
145          0        0      197422           2      1       0
146          0        0       57931          28      1       0
147          1        0      163252          28      0       0
148          0        1      197038          21      0       0
149          0        2       49505          25      0       0
150          0        1      161759          28      0       0
151          0        2      109110          10      0       0
152          0        2       91889          16      0       1
153          1        0      114841          28      0       1
154          0        2       82520          29      1       1
155          1        2      139624           7      0       0
156          1        1      125987           3      1       0
157          1        1      115631           5      0       0
158          0        0      163347          11      0       1
159          1        2       28504           1      0       0
160          1        0       79972           0      1       0
161          1        1      185596          30      1       0
162          1        1      177468          21      1       0
163          1        0       91851          15      1       1
164          1        2      153192          28      0       0
165          1        1       38463          23      1       0
166          0        1       73466          22      1       0
167          0        1      194381          25      0       0
168          0        0      167629          30      0       1
169          1        2       76933           6      1       0
170          0        0      143402          10      0       0
171          1        1      103614          24      0       1
172          0        1       52819          23      1       1
173          1        2      105110          16      1       0
174          1        2      149857           8      0       0
175          1        2       57055          13      0       0
176          0        1       75169          28      0       0
177          0        1       31156          13      1       0
178          0        2       85832          15      1       0
179          1        1      192451          22      1       1
180          1        2      149101          19      0       0
181          0        0       36116          20      0       1
182          0        0       89632           4      1       1
183          0        2       39523          30      1       0
184          0        0       70138          15      1       0
185          0        1       92975           0      1       0
186          0        1      166976          19      1       0
187          0        2       59558           5      1       0
188          0        0      137569          10      0       1
189          1        1      189301          11      1       0
190          0        2       90459          19      0       0
191          0        2      176341           7      1       0
192          1        1      126556          10      1       0
193          1        1      198213          25      0       0
194          1        2      103981          28      0       1
195          1        2      181370          13      1       0
196          1        1       28410          21      0       1
197          0        2       98056           4      1       0
198          0        2       48025          28      1       0
199          1        1      145744           9      1       1
200          1        2      162777          17      1       0
201          1        0       58225          27      1       0
202          1        2       28661           0      1       0
203          1        0      117260           4      0       0
204          0        1      173091          14      0       1
205          0        1      131906          20      1       1
206          1        2       52227          16      1       0
207          1        1      138108          28      0       1
208          1        2      141502           3      0       0
209          1        2      186239          25      1       0
210          1        2      125993          13      1       0
211          1        1       57194           8      1       0
212          1        0      112659          14      0       0
213          1        2      107069          13      0       0
214          0        0      140159          16      0       0
215          0        0       28576          22      0       0
216          0        0       85128          22      0       0
217          1        0      179220          19      1       0
218          0        1       38091          19      0       0
219          1        0       26814           9      0       1
220          1        0      115168          30      0       0
221          1        2      134135          14      0       0
222          1        0      168248          27      0       0
223          1        1      192297          17      1       0
224          0        1       55717          25      1       0
225          1        2      125883           0      1       0
226          0        2       77719          28      0       0
227          1        2      182921          17      1       0
228          0        1      100696           9      1       1
229          0        1       35780          10      0       0
230          0        1       81593          14      1       1
231          1        2      153147           2      0       0
232          1        1      150349           2      0       1
233          0        1       63701          19      1       1
234          0        2      102498          14      0       0
235          0        0       87541           9      0       0
236          1        1      193193           3      0       0
237          0        1      128996           3      1       1
238          1        2       72968           9      1       0
239          0        0       76145          26      0       0
240          0        2      139146          30      1       0
241          1        2       31377          18      1       1
242          0        0       84368           2      1       0
243          0        0      181549          10      1       0
244          1        2      154647          27      0       0
245          0        2      183221          24      0       0
246          1        2       38139          25      0       0
247          1        0      108245           1      0       1
248          0        2      105374          17      1       1
249          1        2       35376           0      1       0
250          0        1      156973          16      0       0
251          1        2      173228           7      0       0
252          0        2       40855          28      1       0
253          1        2       77256          29      0       0
254          0        0      193263          26      0       0
255          1        1      170030           8      0       0
256          1        1      168568          14      0       0
257          1        1       31611          17      1       0
258          0        0       74119          28      1       0
259          0        1      197841           7      0       1
260          1        2       92333          28      0       0
261          0        2       68788           7      1       0
262          0        0      120415          21      0       0
263          1        1       69386          21      1       0
264          0        2      118899           5      0       0
265          0        1      101996           4      1       1
266          1        1      173276          17      1       0
267          0        2      183946          11      0       1
268          0        2       98378           3      1       0
269          1        1      125450          13      1       0
270          0        1      130680           5      0       0
271          0        2      183682          20      0       0
272          0        2      126488           1      1       0
273          1        0       58942          20      0       0
274          1        1      112584          25      0       0
275          1        1       55591           0      1       0
276          0        2       44251          17      1       0
277          0        0      117364          11      0       0
278          0        1      114823          11      0       1
279          1        2       74136          12      1       0
280          0        0       33184           1      0       1
281          0        2      167403           7      1       0
282          1        1       59590          29      0       0
283          1        0      129276          22      0       0
284          0        0      188383          22      1       1
285          0        2       63420          10      0       0
286          1        0      113724           6      0       0
287          1        2       77102           1      1       0
288          1        1      174196          21      1       1
289          0        2      196816          14      0       0
290          1        1      193003          30      1       0
291          1        2       62475          26      1       0
292          1        2       76406           1      1       1
293          0        0       43899          21      1       0
294          1        2       74074           2      0       0
295          1        1       40089          10      0       0
296          1        0      167600          26      0       0
297          0        1       36924          15      0       0
298          0        2      119904          21      1       0
299          1        2      197916           7      0       0
300          0        1       74052          30      0       0
301          1        1       39797          11      0       1
302          1        0       97109          27      0       0
303          1        0      189061          13      1       0
304          1        0      106757          23      1       0
305          0        2      161265          29      1       0
306          1        0      185099          12      0       0
307          0        0       31819          25      0       0
308          1        1      183445          30      0       0
309          1        2      123761          20      1       0
310          1        0      189435          22      1       0
311          0        1       50013          19      0       0
312          1        2       31641          18      0       0
313          1        2      124848           2      0       0
314          0        2       85255           4      0       0
315          1        0      176278          19      0       1

In [19]:
X = Fraud_check.drop(['income'],axis=1)
y = Fraud_check['income']

In [20]:
X

     undergrad  marital  population  experience  urban
0            0        2       50047          10      1
1            1        0      134075          18      1
2            0        1      160205          30      1
3            1        2      193264          15      1
4            0        1       27533          28      0
5            0        0      116382           0      0
6            0        0       80890           8      1
7            1        2      131253           3      1
8            0        2      102481          12      1
9            1        0      155482           4      1
10           0        2      102602          19      1
11           0        2       94875           6      1
12           0        0      148033          14      1
13           0        1       86649          16      1
14           0        1       57529          13      1
15           0        0      107764          29      0
16           1        0       34551          29      0
17           1        1       57194          25      0
18           1        0       59269           6      0
19           0        2      126953          30      1
20           1        2      147222          26      0
21           1        0       29106           7      1
22           1        0      155342          14      0
23           0        2       50495          12      1
24           0        0       28495          30      0
25           0        0      124606          27      1
26           1        0      169128          15      0
27           1        2       28542          12      1
28           1        2      128766           5      1
29           1        0       41863          30      1
30           1        0      117788           0      1
31           0        0      147414          21      0
32           1        1       51911          23      0
33           1        2      157251          21      0
34           1        0      183767           1      1
35           1        1       41117          30      1
36           1        1      193995           5      1
37           0        1       66912           5      1
38           0        2      177575           3      0
39           0        1       54981          16      1
40           0        2      199697          26      1
41           1        1       91524           1      0
42           0        2       51666          12      0
43           1        0       50020          10      0
44           1        0       98880          22      0
45           1        1      183095          14      1
46           1        1      137346          27      1
47           1        2       34964           2      0
48           0        1       35480          12      0
49           0        0      160195          15      1
50           1        2      145804           3      1
51           1        2      174042          30      0
52           0        2       91828          23      0
53           1        2      139143           7      1
54           0        0       98207          23      0
55           1        2       89965          16      1
56           0        1       69832          25      1
57           0        2       70744          13      0
58           1        2      158047          15      0
59           0        2      102228          11      0
60           1        1       91138          23      0
61           1        1       86169           8      0
62           0        0      147684          13      1
63           1        0       95831           9      0
64           1        2      118261          15      0
65           0        0      194738          29      0
66           1        1       66985          12      1
67           1        1      173986          24      0
68           0        2      139642           5      0
69           1        2       86896          29      0
70           1        0       80904           3      1
71           0        2      105680          22      0
72           1        0      108300          27      1
73           1        2      174789           2      1
74           0        0      182319          17      0
75           0        1       50404          19      1
76           1        1      129164          11      0
77           1        1      118344          26      0
78           1        0      143153           0      0
79           0        0      140885           7      1
80           0        1       28184          26      0
81           1        0      121608          24      0
82           0        0      111068          26      1
83           0        0       73963          18      1
84           0        1      178083           4      1
85           1        0      125155          12      1
86           1        0       97520          29      1
87           1        2       64075          23      0
88           0        1       63896          24      1
89           1        1      176050          20      0
90           0        0      101232          29      0
91           1        1       73733          10      1
92           0        0      114621          13      0
93           1        1      137676           3      1
94           0        2      122705           6      1
95           1        2      121498          28      1
96           0        2       63622          17      0
97           1        0       37849          19      1
98           1        1       77053          18      1
99           0        1      114350          12      0
100          1        2       46444          25      0
101          1        1       50490          20      1
102          1        0       91488          23      0
103          0        0       76318           5      1
104          0        2      174423          14      0
105          0        2       46893          15      0
106          1        2       58535          20      1
107          0        1       52424           6      1
108          1        1      120894          10      1
109          1        1      178585           8      1
110          0        2       32450          19      1
111          0        2      164526          11      1
112          1        2      193038          26      1
113          1        1      100347           7      1
114          0        2      197934           7      0
115          1        0       78251          21      1
116          0        1      132570          12      0
117          0        2       96370          29      1
118          0        0      199174          10      0
119          0        0       47202          30      1
120          1        2      135886          11      1
121          1        1       86648          16      1
122          1        1      140762          26      0
123          1        1       79683          26      0
124          1        0      139324          13      0
125          1        0      155669          11      0
126          1        0      195022           3      1
127          0        2       93035          28      1
128          0        1      100897          27      1
129          1        2       65469          26      0
130          1        2       87730           7      1
131          1        2      174321          16      1
132          0        0       67820          12      0
133          0        2       86646          14      1
134          1        1      190365          28      0
135          1        0       75323          19      1
136          0        0       53513           9      0
137          1        2      115884           6      0
138          0        2      155335          25      0
139          1        0       86904          20      0
140          1        1       93390           4      1
141          1        1      194364          23      1
142          0        2      122654          26      1
143          1        2      154013          11      0
144          1        2      156503          29      1
145          0        0      197422           2      1
146          0        0       57931          28      1
147          1        0      163252          28      0
148          0        1      197038          21      0
149          0        2       49505          25      0
150          0        1      161759          28      0
151          0        2      109110          10      0
152          0        2       91889          16      0
153          1        0      114841          28      0
154          0        2       82520          29      1
155          1        2      139624           7      0
156          1        1      125987           3      1
157          1        1      115631           5      0
158          0        0      163347          11      0
159          1        2       28504           1      0
160          1        0       79972           0      1
161          1        1      185596          30      1
162          1        1      177468          21      1
163          1        0       91851          15      1
164          1        2      153192          28      0
165          1        1       38463          23      1
166          0        1       73466          22      1
167          0        1      194381          25      0
168          0        0      167629          30      0
169          1        2       76933           6      1
170          0        0      143402          10      0
171          1        1      103614          24      0
172          0        1       52819          23      1
173          1        2      105110          16      1
174          1        2      149857           8      0
175          1        2       57055          13      0
176          0        1       75169          28      0
177          0        1       31156          13      1
178          0        2       85832          15      1
179          1        1      192451          22      1
180          1        2      149101          19      0
181          0        0       36116          20      0
182          0        0       89632           4      1
183          0        2       39523          30      1
184          0        0       70138          15      1
185          0        1       92975           0      1
186          0        1      166976          19      1
187          0        2       59558           5      1
188          0        0      137569          10      0
189          1        1      189301          11      1
190          0        2       90459          19      0
191          0        2      176341           7      1
192          1        1      126556          10      1
193          1        1      198213          25      0
194          1        2      103981          28      0
195          1        2      181370          13      1
196          1        1       28410          21      0
197          0        2       98056           4      1
198          0        2       48025          28      1
199          1        1      145744           9      1
200          1        2      162777          17      1
201          1        0       58225          27      1
202          1        2       28661           0      1
203          1        0      117260           4      0
204          0        1      173091          14      0
205          0        1      131906          20      1
206          1        2       52227          16      1
207          1        1      138108          28      0
208          1        2      141502           3      0
209          1        2      186239          25      1
210          1        2      125993          13      1
211          1        1       57194           8      1
212          1        0      112659          14      0
213          1        2      107069          13      0
214          0        0      140159          16      0
215          0        0       28576          22      0
216          0        0       85128          22      0
217          1        0      179220          19      1
218          0        1       38091          19      0
219          1        0       26814           9      0
220          1        0      115168          30      0
221          1        2      134135          14      0
222          1        0      168248          27      0
223          1        1      192297          17      1
224          0        1       55717          25      1
225          1        2      125883           0      1
226          0        2       77719          28      0
227          1        2      182921          17      1
228          0        1      100696           9      1
229          0        1       35780          10      0
230          0        1       81593          14      1
231          1        2      153147           2      0
232          1        1      150349           2      0
233          0        1       63701          19      1
234          0        2      102498          14      0
235          0        0       87541           9      0
236          1        1      193193           3      0
237          0        1      128996           3      1
238          1        2       72968           9      1
239          0        0       76145          26      0
240          0        2      139146          30      1
241          1        2       31377          18      1
242          0        0       84368           2      1
243          0        0      181549          10      1
244          1        2      154647          27      0
245          0        2      183221          24      0
246          1        2       38139          25      0
247          1        0      108245           1      0
248          0        2      105374          17      1
249          1        2       35376           0      1
250          0        1      156973          16      0
251          1        2      173228           7      0
252          0        2       40855          28      1
253          1        2       77256          29      0
254          0        0      193263          26      0
255          1        1      170030           8      0
256          1        1      168568          14      0
257          1        1       31611          17      1
258          0        0       74119          28      1
259          0        1      197841           7      0
260          1        2       92333          28      0
261          0        2       68788           7      1
262          0        0      120415          21      0
263          1        1       69386          21      1
264          0        2      118899           5      0
265          0        1      101996           4      1
266          1        1      173276          17      1
267          0        2      183946          11      0
268          0        2       98378           3      1
269          1        1      125450          13      1
270          0        1      130680           5      0
271          0        2      183682          20      0
272          0        2      126488           1      1
273          1        0       58942          20      0
274          1        1      112584          25      0
275          1        1       55591           0      1
276          0        2       44251          17      1
277          0        0      117364          11      0
278          0        1      114823          11      0
279          1        2       74136          12      1
280          0        0       33184           1      0
281          0        2      167403           7      1
282          1        1       59590          29      0
283          1        0      129276          22      0
284          0        0      188383          22      1
285          0        2       63420          10      0
286          1        0      113724           6      0
287          1        2       77102           1      1
288          1        1      174196          21      1
289          0        2      196816          14      0
290          1        1      193003          30      1
291          1        2       62475          26      1
292          1        2       76406           1      1
293          0        0       43899          21      1
294          1        2       74074           2      0
295          1        1       40089          10      0
296          1        0      167600          26      0
297          0        1       36924          15      0
298          0        2      119904          21      1
299          1        2      197916           7      0
300          0        1       74052          30      0
301          1        1       39797          11      0
302          1        0       97109          27      0
303          1        0      189061          13      1
304          1        0      106757          23      1
305          0        2      161265          29      1
306          1        0      185099          12      0
307          0        0       31819          25      0
308          1        1      183445          30      0
309          1        2      123761          20      1
310          1        0      189435          22      1
311          0        1       50013          19      0
312          1        2       31641          18      0
313          1        2      124848           2      0
314          0        2       85255           4      0
315          1        0      176278          19      0
316          0        1       70323          25      0
317          1        1      116745          23      0
318          0        0      121324          14      1
319          1        0      153308          24      1
320          1        2       78897          11      1
321          0        2       84215           6      1
322          0        0      160932          24      1
323          1        1      165175          13      0
324          1        2      171288          15      0
325          0        2       25779          16      1
326          1        0      165001          19      1
327          1        1      162777           7      0
328          0        0       93414          12      1
329          0        2       39360          10      0
330          0        1       43176          29      0
331          1        1       60999          15      1
332          1        0       84132           1      0
333          1        2       44775          13      1
334          0        2      118274          13      1
335          1        1      140998          15      0
336          0        1       73146           5      0
337          1        1       73490           7      0
338          1        0      111264          23      0
339          1        2      110940          10      0
340          1        1       54437          21      1
341          0        1       83900           8      1
342          1        1       31097           7      1
343          1        0      161143          17      0
344          0        1      192313           5      1
345          1        0      118798           6      0
346          0        2      134635          30      1
347          0        1       80991           0      1
348          1        2       42269           2      0
349          1        0       72255          30      1
350          0        1       89949          25      0
351          1        1      114922          12      0
352          0        0       72115          16      1
353          1        1      141622          29      0
354          1        1      176891          27      1
355          1        2       56488          17      0
356          0        1       46480          27      0
357          0        1       84034          28      0
358          1        2       96432          24      1
359          1        2      157299          11      0
360          1        2      107937           5      1
361          1        0       62671          20      0

In [21]:
y

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     1
11     0
12     1
13     0
14     0
15     0
16     1
17     0
18     0
19     1
20     0
21     1
22     0
23     0
24     0
25     0
26     0
27     0
28     1
29     0
30     0
31     0
32     0
33     0
34     1
35     0
36     1
37     0
38     1
39     0
40     0
41     0
42     0
43     0
44     0
45     0
46     0
47     0
48     1
49     0
50     0
51     0
52     0
53     1
54     0
55     1
56     0
57     0
58     1
59     0
60     0
61     1
62     0
63     0
64     0
65     0
66     0
67     0
68     1
69     0
70     0
71     0
72     0
73     0
74     0
75     0
76     0
77     0
78     0
79     1
80     0
81     0
82     0
83     0
84     0
85     1
86     0
87     1
88     0
89     1
90     0
91     0
92     0
93     1
94     1
95     0
96     1
97     0
98     1
99     0
100    0
101    0
102    0
103    0
104    0
105    0
106    1
107    0
108    0
109    0
110    1
111    0
112    0
113    0
114    1
115    0
116    0
117    0
118    1
119    0
120    0
121    1
122    1
123    1
124    0
125    0
126    1
127    0
128    0
129    0
130    0
131    0
132    0
133    0
134    0
135    1
136    0
137    1
138    0
139    0
140    1
141    0
142    0
143    1
144    0
145    0
146    0
147    0
148    0
149    0
150    0
151    0
152    1
153    1
154    1
155    0
156    0
157    0
158    1
159    0
160    0
161    0
162    0
163    1
164    0
165    0
166    0
167    0
168    1
169    0
170    0
171    1
172    1
173    0
174    0
175    0
176    0
177    0
178    0
179    1
180    0
181    1
182    1
183    0
184    0
185    0
186    0
187    0
188    1
189    0
190    0
191    0
192    0
193    0
194    1
195    0
196    1
197    0
198    0
199    1
200    0
201    0
202    0
203    0
204    1
205    1
206    0
207    1
208    0
209    0
210    0
211    0
212    0
213    0
214    0
215    0
216    0
217    0
218    0
219    1
220    0
221    0
222    0
223    0
224    0
225    0
226    0
227    0
228    1
229    0
230    1
231    0
232    1
233    1
234    0
235    0
236    0
237    1
238    0
239    0
240    0
241    1
242    0
243    0
244    0
245    0
246    0
247    1
248    1
249    0
250    0
251    0
252    0
253    0
254    0
255    0
256    0
257    0
258    0
259    1
260    0
261    0
262    0
263    0
264    0
265    1
266    0
267    1
268    0
269    0
270    0
271    0
272    0
273    0
274    0
275    0
276    0
277    0
278    1
279    0
280    1
281    0
282    0
283    0
284    1
285    0
286    0
287    0
288    1
289    0
290    0
291    0
292    1
293    0
294    0
295    0
296    0
297    0
298    0
299    0
300    0
301    1
302    0
303    0
304    0
305    0
306    0
307    0
308    0
309    0
310    0
311    0
312    0
313    0
314    0
315    1
316    0
317    0
318    0
319    0
320    0
321    0
322    0
323    0
324    0
325    0
326    1
327    1
328    0
329    1
330    0
331    1
332    0
333    1
334    0
335    0
336    0
337    1
338    1
339    1
340    0
341    0
342    0
343    0
344    0
345    0
346    1
347    1
348    0
349    1
350    0
351    0
352    1
353    0
354    1
355    0
356    1
357    1
358    0
359    0
360    0
361    0
362    1
363    1
364    0
365    0
366    0
367    1
368    0
369    0
370    0
371    0
372    0
373    0
374    0
375    0
376    0
377    0
378    0
379    1
380    0
381    0
382    0
383    0
384    0
385    0
386    0
387    0
388    0
389    0
390    0
391    0
392    1
393    0
394    0
395    0
396    0
397    0
398    1
399    0
400    0
401    0
402    0
403    0
404    0
405    0
406    0
407    0
408    0
409    0
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    0
418    0
419    0
420    0
421    0
422    0
423    0
424    0
425    0
426    0
427    0
428    1
429    0
430    0
431    0
432    0
433    1
434    1
435    0
436    0
437    1
438    1
439    1
440    0
441    0
442    0
443    1
444    1
445    0
446    1
447    0
448    0
449    0
450    0
451    0
452    0
453    0
454    0
455    0
456    0
457    1
458    1
459    1
460    0
461    0
462    1
463    0
464    0
465    1
466    0
467    0
468    0
469    0
470    0
471    1
472    0
473    0
474    0
475    0
476    0
477    0
478    0
479    0
480    0
481    0
482    0
483    1
484    0
485    0
486    0
487    0
488    0
489    0
490    0
491    1
492    0
493    1
494    0
495    0
496    0
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    0
505    0
506    1
507    0
508    0
509    1
510    0
511    0
512    0
513    0
514    0
515    0
516    0
517    1
518    0
519    0
520    0
521    0
522    0
523    0
524    1
525    0
526    1
527    0
528    0
529    0
530    0
531    0
532    0
533    1
534    0
535    0
536    0
537    0
538    0
539    0
540    1
541    1
542    0
543    0
544    1
545    0
546    0
547    0
548    0
549    0
550    0
551    0
552    0
553    0
554    0
555    0
556    0
557    1
558    0
559    0
560    0
561    0
562    0
563    0
564    0
565    0
566    0
567    1
568    0
569    0
570    0
571    0
572    0
573    0
574    0
575    1
576    0
577    0
578    0
579    0
580    0
581    0
582    0
583    0
584    0
585    0
586    0
587    0
588    0
589    0
590    0
591    1
592    0
593    0
594    0
595    0
596    0
597    0
598    0
599    0
Name: income, dtype: int32

In [22]:
X.shape,y.shape

((600, 5), (600,))

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((480, 5), (120, 5), (480,), (120,))

## 6.Model Training

In [25]:
Fraund_RF = RandomForestClassifier(n_estimators=100,criterion='gini',max_depth=6,random_state=0)
Fraund_RF.fit(X_train,y_train)

RandomForestClassifier(max_depth=6, random_state=0)

## 7.Model Testing

In [26]:
y_pred_train = Fraund_RF.predict(X_train)
y_pred_test  = Fraund_RF.predict(X_test)

In [27]:
y_pred_test

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [28]:
y_pred_train

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

## 8.Model Evaluation

In [29]:
print("Train Accuracy Score :",round(accuracy_score(y_train,y_pred_train),4)*100)

Train Accuracy Score : 80.21000000000001

In [30]:
print("Test Accuracy Score :",round(accuracy_score(y_test,y_pred_test),4)*100)

Test Accuracy Score : 78.33

## 9.Model Depolyment

In [31]:
from pickle import dump
dump(Fraund_RF,open("Fraund_RF.pkl",'wb'))

In [32]:
from pickle import load
Fraud_load = load(open("Fraund_RF.pkl",'rb'))

In [33]:
Fraud_load.predict(X_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])